.todo-card{
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #D9AFD9;
    position: relative;
    display: flex;
    align-items: center;
}
.category{
    position: absolute;
    top: 8px;
    right: 50px;
    font-size: 12px;
    padding: 4px 2px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
}
.delete-icon{
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 8px;
}
@keyframes delete-animation{
    0%{
        transform: rotate(-25deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(25deg);
    }
}
.delete-icon:hover{
    height: 21px;
    animation: delete-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
