.app-title{
    text-align: center;
}
.todo-list-container{
    background-color: #fff;
    height: 300px;
    width: 400px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
}
.add-todo-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.add-input{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid gray;
    margin-right: 20px;
}
.add-icon{
    width: 30px;
    cursor: pointer;
}
