.app-title{
    text-align: center;
}
.todo-list-container{
    background-color: #fff;
    height: 300px;
    width: 400px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
}
.add-icon{
    width: 30px;
}