.app-title {
    text-align: center;
    padding: 10px;
}

.todo-list-container {
    background-color: #fff;
    height: 400px;
    width: 450px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.add-todo-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-input {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin-right: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.select-add-container{
    display: flex;
    align-items: center;
}
.category-select{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin-right: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.add-icon {
    width: 40px;
    cursor: pointer;
}

.add-icon:hover {
    transform: rotate(90deg);
    transition: 1s;
}
@media screen and (max-width: 470px) {
    .todo-list-container{
        width: 95%;
    }
    .add-todo-item-container{
        flex-direction: column;
    }
    .select-add-container{
        margin-top: 15px;
        width: 95%;
    }
    .category-select{
        width: 220px;
        height: 50px;
        margin-right: 30px;
    }
    .add-input{
        width: 95%;
        height: 50px;
    }
    .add-icon{
        width: 50px;
    }
}